<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
html(lang="en-US")
  head(profile="http://www.w3.org/2005/10/profile")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(name="description" content="✌︎")
    meta(name="keywords" content="web design, web, design, web development, web developer, digital, digital humanities, public scholarship, digital scholarship")
    meta(name="author" content="Corey Tegeler")
    title Corey Tegeler's Website
    link(type="image/png" rel="icon" href="assets/images/icons/default.png")
    link(type="text/css" rel="stylesheet" href="assets/css/style.css?version=3.1")
    script(type="text/javascript" src="assets/js/jquery.js")
    script(type="text/javascript" src="assets/js/jquery.transit.min.js")
    script(type="text/javascript" src="assets/js/jquery.fittext.js")
    script(type="text/javascript" src="assets/js/paper.js")
    script(type="text/javascript" src="assets/js/script.js?version=3.1")
  body
    .wrapper
      main
        .inner.fit
          p
            i I&nbsp;
            i make&nbsp;
            i and&nbsp;
            i do&nbsp;
            i things&nbsp;
            i on&nbsp;
            i the&nbsp;
            i Internet&nbsp;
            i and&nbsp;
            i in&nbsp;
            em
              i New&nbsp;
              i York&nbsp;
            i focusing&nbsp;
            i on&nbsp;
            i collab&shy;ora&shy;tive&nbsp;
            em
              i not
              i -
              i for
              i -
              i profit&nbsp;
            i work&nbsp;
            i with&nbsp;
            i people&nbsp;
            i and&nbsp;
            i org&shy;aniz&shy;ations&nbsp;
            i in&nbsp;
            i social&nbsp;
            em
              i just&shy;ice
              i ,&nbsp;
            i digital&nbsp;
            em 
              i human&shy;ities
              i ,&nbsp;
            i com&shy;mun&shy;ity&nbsp;
            em
              i organ&shy;iz&shy;ing
              i ,&nbsp;
            i environ&shy;mental&nbsp;
            em
              i sci&shy;ences
              i ,&nbsp;
            i educa&shy;tion&nbsp;
            i and&nbsp;
            i public&nbsp;
            em
              i policy
              i .&nbsp;
            i Does&nbsp;
            i that&nbsp;
            i sound&nbsp;
            i like&nbsp;
            em
              i you
              i ?&nbsp;
            em
              i Let’s&nbsp;
              i talk
              i !&nbsp;
            i
              a(href="mailto:email@coreytegeler.com") email@coreytegeler.com
          div.symbols
            i.action.symbol(data-action="peace" data-scale="1.8")
              include assets/images/peace.svg
            i
              | &amp;
            i.action.symbol(data-action="love" data-scale="1.4")
              include assets/images/love.svg
    .notes
      .note#info
        .inner
          .text
            //- p
            //-   | I'm currently working on projects with the 
            //-   a(href="http://architecture.yale.edu/" target="_blank") Yale School of Architecture
            //-   |, 
            //-   a(href="http://www.kameelahr.com/" target="_blank") Kameelah Janan Rasheed
            //-   |, 
            //-   a(href="http://nontsikelelomutiti.com/" target="_blank") Nontsikelelo Mutiti
            //-   |  &amp; 
            //-   a(href="https://twitter.com/tinsmush" target="_blank") Tinashe Mushakavanhu
            //-   |  that will be announced soon.
            p
              | Formerly worked with 
              a(href="http://othermeans.us/" target="_blank") Other Means
              |, 
              a(href="http://www.pentagram.com/" target="_blank") Pentagram
              |  &amp; 
              a(href="http://okfoc.us/" target="_blank") OKFocus
      .note#mts
        .inner
          h1 1 — Mapping the Spirit
          h2 w/  
            a(href="www.kameelahr.com" target="_blank") Kameelah Janan Rasheed
          .details
            h4 Supported by 
              a(href="https://www.magnumfoundation.org/" target="_blank") The Magnum Foundation
              | , 
              a(href="http://brown.columbia.edu/" target="_blank") The Brown Institute for Media Innovation
              |  &amp; 
              a(href="https://wp.nyu.edu/crm/" target="_blank") NYU Center for Religion and Media
          .text
            p An ongoing archival storytelling project that elaborates on the religious and spiritual articulations of people of African descent in North America. The interactive platform uses photography, video, audio, and text to tell stories and adds depth beyond the reductive “Black Church” narrative.
            p As an artist, archivist and photographer, my partner Kameelah Janan Rasheed is creating in-depth multi-media stories of an array of religious groups, beginning with the Moorish Science Temple of America. Her research and documentation focuses on individual collaborators’ personal spirituality and practices in juncture with the history and doctrine of their respective religious groups. This continuing project fits humbly within a larger effort to elaborate the narrative of religious practices of Americans within the African diaspora.

          h3
            a(href="http://www.mappingthespirit.com/" target="_blank") mappingthespirit.com
        .side.left
          .inner
            .top
            .bottom
        .side.right
          .inner
            .top
            .bottom
      .note#rz
        .pattern.top
        .pattern.bottom
        .inner
          h1 2 — Reading Zimbabwe
          h2 w/  
            a(href="http://http://nontsikelelomutiti.com/" target="_blank") Nontsikelelo Mutiti
            |  &amp; 
            a(href="https://twitter.com/tinsmush" target="_blank") Tinashe Mushakavanhu
          .text
            p A growing catalog of over 1000 books written and published about Zimbabwe over the past seven decades, spanning across five continents. The editorialization of this repository aims to problematize the production and dissemination of knowledge created about Zimbabwe, showing the unbalanced power that western scholars have over a history and cultural identity far removed from themselves. Through a critical lens of the country’s colonial past and authoritarian present, Reading Zimbabwe investigates who writes the country’s history, and who has the access to learn it.
            p The website is optimized for mobile users in Zim and was designed with visual inspiration from the Khami Ruins and Great Zimbabwe.

          h3 
            a(href="http://www.readingzimbabwe.com/" target="_blank") readingzimbabwe.com
      .note#iscp
        .sandwich
          .inner
            h1 3 — International Studio &amp; Curatorial Program
            h2 w/  
              a(href="http://othermeans.us" target="_blank") Other Means 
            .text
              p The program hosts and supports artists and curators from around the world in their 35 studio building in Brooklyn. The website holds current and archival content on every resident, event and exhibition hosted by ISCP since 1994 and acts as a portal for prospective residents to apply.
            h3 
              a(href="http://www.iscp-nyc.org/" target="_blank") iscp-nyc.org
        .side.left
          .inner
            .top
            .bottom
        .side.right
          .inner
            .top
            .bottom
      .note#compost-pile
        .inner
          h1 4 — Compost Pile
          h2 w/ 
            i Danny Fabricant &amp;&nbsp;
            a(href="http://www.brookesinger.net/" target="_blank") Brooke Singer
          .text
           | A live visualization of the food scraps collection and compost production at my alma mater, SUNY Purchase. Data is submitted whenever scraps are diverted from landfills and added to the on-campus composting machine, as well as when usable compost is harvested. These data points get illustrated in the compost pile-like graph, showing the process over time.
          h3 
            a(href="http://compost-pile.org/" target="_blank") compost-pile.org
      .note#ceremony
        .inner
          h1 5 — Af·fixing Ceremony: Four Movements for Essex
          h2 w/  
            a(href="http://www.tionam.com/" target="_blank") Tiona McLodden
          .text
            p 
              | This piece by artist Tiona McLodden reanimates the presence and art of Essex Hemphill in 
              i= 'cyberspace'
              | by featuring a collection of his written and performed works, along with stories and praises from his contemporaries. Essex was a prolific poet and activist, and was one of the many gay black men who were disproportionally affected by AIDS during the 1980s epidemic in America. He passed away due to complications relating to the virus 20 years prior to the creation of this piece.
            p
              | The work was created for the 
              a.out(href='http://www.icaphila.org/' target="_blank") The Institute of Contemporary Art, Philadelphia
              |  which, in observance of World AIDS Day and 
              a.out(href='https://www.visualaids.org/projects/detail/day-without-art' target="_blank") Visual AIDS' Day Without Art
              | , made visitors of their website experience the web-based art piece before continuing to the museum's homepage.
            p
              | Read 
              a.out(href="http://www.tionam.com/affixingceremony" target="_blank") Tiona's thoughts
              |  on the project.
            
          h3 
            a(href="http://icaphila.org/day-without-art-2015" target="_blank") icaphila.org/day-without-art-2015

      .note#pcgd
        .inner
          h1 6 —
            .svg
              include assets/images/p/1.svg
            .svg
              include assets/images/p/2.svg
            .svg
              include assets/images/p/3.svg
            .svg
              include assets/images/p/4.svg
            .svg
              include assets/images/p/5.svg
            .svg
              include assets/images/p/6.svg
            .svg
              include assets/images/p/7.svg
            |urchase College Graphic Design Dept. </br>
          h2 w/ 
            a(href="http://www.alexapostolides.com/" target="_blank") Alex Apostolides
            | , 
            a(href="https://www.behance.net/brandonshefton" target="_blank") Brandon Shefton
            | , 
            a(href="http://thedis4design.tumblr.com/" target="_blank") Dani Leggard
            | , 
            a(href="http://www.krystt.com/" target="_blank") Krystalina Tom
            | , 
            a(href="http://hyperakt.com/about/team/nick-dichiara/" target="_blank") Nicholas DiChiara
            | , 
            a(href="http://www.shannencraftdesign.com/" target="_blank") Shannen Craft
            | ,
            i=" Danny Fabricant & "
            a(href="http://2x4.org/people/" target="_blank") Emily Green

          .text While attending Purchase College, I collaborated with my friends in the Graphic Design, New Media &amp; Arts Management departments to build a website for the school's Graphic Design BFA Program. I developed the website on a custom built content management system that is (partially) 
            a.out(href="http://www.purchase.design/backend" target="_blank") open to the public
            |  as an alternative view of the site and its content.
          h3 
            a(href="http://www.purchase.design" target="_blank") purchase.design
      .note#rbma
        .inner
          h1 7 — Red Bull Music Academy
          h2 w/  
            a(href="http://othermeans.us" target="_blank") Other Means
          .text
            | Website announcing and introducing the&nbsp;
            img.click.balloon(src="assets/images/2014.png" data-data="confetti")
            | iteration of the&nbsp;
            span.click.toggle.logo(data-data="logo")
              img(src="assets/images/rbma.png")
              span="Red Bull Music Academy"
            | in Tokyo,&nbsp;
            span.click.toggle.japan(data-data="japan")
              img(src="assets/images/japan.gif")
              span#anthem
            | and the 60 artists selected to attend. Click around.
            
          h3 
            a(href="http://rbma2014participants.com" target="_blank") rbma2014participants.com
      .note#qr
        .inner
          h1 8 — Are You Quicker Than A Quick Response?
          .text
            p Browser-based game using a QR reading smartphone as a controller. Modeled on first-person shooting video games, the player must only aim the QR reader at the multicolored QRs to advance to the next level, while avoiding the advertisement codes in black that swarm the browser window. Good luck.

            p Be sure take your new skills out into the world and avoid advertisements at all cost!
            
          h3 
            a(href="http://coreytegeler.com/quick-response" target="_blank") coreytegeler.com/quick-response

    script(type="text/javascript").
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-55531055-2', 'auto');
      ga('send', 'pageview');